@import "~bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 5px dashed greenyellow;
    box-shadow: 0 0 0 3px red;*/
}

.nav-link:hover{
    text-decoration: none;
    color: gray;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #0A8FB0;
}
p {
    text-decoration: none;
    color: #75F052;
}
li, td, th, h2{
    color: #F96CF0;
}
h1 {
    color: green;
}
body {
    background-color: #FFFFFF;
}

.wsnavli {
    color: #FFFFFF;
    font-size: 24px;

}

nav {
    background-color: lightgrey;
}


.navbar-brand {
    background-color: #E1B517;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 32px;
    color: black;
    font-weight: bold;
}

.beaubackground {
    position: fixed;
    top: 10.5vh;
    height: 85vh;
    width: 100vw;
}


.home-accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.homeh1 {
    font-size: 80px;
    margin: 0 15vh;
    color: #E1B517;
    font-weight: bold;
}


.home-amogousse {
    height: 300px;
}
