{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <img class="home-amogousse" src="{{ asset('build/amongus.webp') }}" alt=""/>
{% endblock %}