{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <img class="home-amogousse" src="/images/amongus.webp" alt=""/>
   {# <p>{{ content.name }}</p>
    {{ content.profileIconId }}#}
    {#<img src="http://ddragon.leagueoflegends.com/cdn/13.10.1/img/profileicon/{{ content.profileIconId }}.png" alt="">#}
    <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/DrMundo_3.jpg" alt="">
{% endblock %}