{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="home-accueil">


    <img class="home-amogousse" src="/images/amongus.webp" alt=""/>
        <h1 class="homeh1" {{ stimulus_controller('symfony/ux-typed', {
            strings: ['I â¤ Symfony UX', 'Symfony UX is great', 'Symfony UX is easy'],
            smartBackspace: true,
            startDelay: 300,
            backSpeed: 30,
            backDelay: 300,
            showCursor: true,
            cursorChar: 'HAHAHAHA AMOGOUSSE',
            loop: true,
        }) }}>
        </h1>


        {#<img src="http://ddragon.leagueoflegends.com/cdn/13.10.1/img/profileicon/{{ content.profileIconId }}.png" alt="">#}
    <div class="mundomundo">
        <img class="wsmundo" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/DrMundo_{{ random }}.jpg" alt="">
    </div>
    </div>
{% endblock %}